.ql-container.ql-snow {
    border: none !important;
    border-bottom: 1px solid #ccc !important;
}

.ql-toolbar.ql-snow {
    border: none !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
}

.post-button-label {
    font-family: 'GowunBatang-Regular', serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 16px;
}

/** Quill 에디터 Default 폰트 설정*/
.ql-container {
    font-family: 'SansSerif', serif !important;
}
.ql-picker.ql-font .ql-picker-label .ql-picker-label.ql-active::before {
    font-family: 'SansSerif', serif;
    content: "Sans Serif" !important; /** 에디터 툴바에 표시될 이름 */
}

/* 고운바탕 폰트 추가 */
.ql-font-GowunBatang {
    font-family: 'GowunBatang-Regular', serif;
}

:where(:has(.ql-active)) .ql-picker.ql-font .ql-picker-label[data-value="GowunBatang"]::before,
.ql-picker.ql-font .ql-picker-item[data-value="GowunBatang"]::before {
    font-family: 'GowunBatang-Regular', serif;
    content: "고운바탕" !important;
}

html, body, #root {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    overflow-x: hidden;
}

#root {
    text-align: center;
}